<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bowling League</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="row m-1 p-1">
        <div id="types" class="col-3">
            <vc:teams-view-components></vc:teams-view-components>
        </div>
        <div class="col-9">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>